<nav class="navbar navbar-expand-lg" style="background-color: #f5f5dc;">
  <div class="container-fluid">

    <!-- IZQUIERDA -->
    <div class="d-flex align-items-center">
      <img src="/images/princi2.png" alt="Logo" style="height: 50px;" class="me-3">

      <a class="nav-link px-3" routerLink="/principal">Inicio</a>
      <a class="nav-link px-3" routerLink="/nosotros">Nosotros</a>

      <!-- DROPDOWN -->
      <!-- <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3" data-bs-toggle="dropdown">
          Productos
        </a>

        <ul class="dropdown-menu">

          <li class="dropdown-submenu position-relative">
            <a class="dropdown-item dropdown-toggle">Alimentos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/alimentos/perro">Perros</a></li>
              <li><a class="dropdown-item" routerLink="/alimentos/gato">Gatos</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu position-relative">
            <a class="dropdown-item dropdown-toggle">Juguetes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/juguetes/perro">Perros</a></li>
              <li><a class="dropdown-item" routerLink="/juguetes/gato">Gatos</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu position-relative">
            <a class="dropdown-item dropdown-toggle">Accesorios</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/accesorios/perro">Perros</a></li>
              <li><a class="dropdown-item" routerLink="/accesorios/gato">Gatos</a></li>
            </ul>
          </li>

        </ul>
      </div> -->

      <a class="nav-link px-3" routerLink="/servicios">Servicios</a>
      <a class="nav-link px-3" routerLink="/citas" *ngIf="isLogged()">Mis Citas</a>
    </div>

    <!-- DERECHA -->
    <div class="d-flex align-items-center">
      <a class="nav-link px-3" routerLink="/citas" *ngIf="isLogged()">Registro Cita</a>
      <a class="nav-link px-3" routerLink="/equipo">Equipo</a>
      <a class="nav-link px-3" routerLink="/contacto">Contacto</a>
      
      <span *ngIf="isLogged()"><b>{{ getUsuario() }}</b></span>
      <a class="nav-link px-3" *ngIf="!isLogged()" routerLink="/login">
        <i class="fas fa-user"></i>
      </a>

      <a class="nav-link px-3" *ngIf="isLogged()" (click)="logout()">
        <i class="fas fa-sign-in-alt"></i>
      </a>
      
    </div>

  </div>
</nav>