<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 350px;">
    
    <div class="text-center mb-3">
      <i class="fas fa-right-to-bracket fa-2x"></i>
      <h3 class="mt-2">Iniciar Sesión</h3>
    </div>

    <form (ngSubmit)="login()">
      
      <!-- Usuario -->
      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-user"></i>
          </span>
          <input 
            type="text" 
            class="form-control"
            [(ngModel)]="username"
            name="username"
            required>
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
          <input 
            type="password" 
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required>
        </div>
      </div>

      <!-- Botón -->
      <button class="btn btn-primary w-100">
        <i class="fas fa-right-to-bracket"></i> Ingresar
      </button>

        <!-- Link para registro -->
        <div class="text-center mt-3 mb-3">
        <a (click)="irRegistro()" class="text-primary">¿No tienes cuenta? Regístrate aquí</a>
        </div>

    </form>

    <!-- Mensaje -->
    <div *ngIf="mensaje" class="alert alert-danger mt-3">
      {{mensaje}}
    </div>

  </div>
</div>