<!-- NAVBAR -->
<section class="container my-5 py-4 rounded">
  <div class="row gy-5 g-5">
    <!-- Horarios -->
    <div class="col-md-4">
      <h2 class="border-bottom border-warning pb-2">Horarios de Atención</h2>
      <p><strong>Lunes:</strong> 24 Horas</p>
      <p><strong>Martes a Viernes:</strong> 8:00 AM - 8:00 PM</p>
      <p><strong>Sábados:</strong> 9:00 AM - 2:00 PM</p>
      <p><strong>Domingos:</strong> 24 Horas</p>
    </div>

    <!-- Contacto -->
    <div class="col-md-4">
      <h2 class="border-bottom border-warning pb-2">Contacto</h2>
      <p><i class="bi bi-envelope-fill me-2"></i>Email: info@mail.com</p>
      <p><i class="bi bi-telephone-fill me-2"></i>0000-1184-5</p>
      <p><i class="bi bi-phone-fill me-2"></i>987-654-321</p>
    </div>

    <!-- Dirección -->
    <div class="col-md-4">
      <h2 class="border-bottom border-warning pb-2">Dirección</h2>
      <p><i class="bi bi-geo-alt-fill me-2"></i>AV. General 1955</p>
      <p><i class="bi bi-geo-alt-fill me-2"></i>Jesús María, Lima - Perú</p>
    </div>
  </div>

  <!-- MAPA -->
  <div #map id="map" style="height: 350px; border-radius: 15px; margin-top: 30px;"></div>
</section>
